.listitem {
    color: #ccc;
    display: flex;
    font-size: 0.6rem;
}
.listitem--active {
    color: #999;
}
.waveform {
    background-color: #eee;
    height: 30px;
    position: relative;
    width: 70px;
}
.waveform img {
    display: none;
}
.info {
    display: none;
}
.name {
    font-size: 1rem;
}
.username {
    background: none;
    border: none;
    color: #ccc;
    font-size: 0.6rem;
    text-decoration: underline;
}
.tags {
    
}
.tag {
    background: none;
    border: none;
    color: #ccc;
    text-decoration: underline;
}