@import '../../variables.css';

.listitem {
    color: var(--black);
    font-size: 0.6rem;
}
.listitem--active {
    color: var(--black);
}
.row {
    display: flex;
}
.waveform {
    background-color: #eee;
    flex-basis: 120px;
    flex-shrink: 0;
    height: 50px; /* 71px; */
    position: relative;
}
.locator {
    background-color: #f00;
    height: 100%;
    position: absolute;
    top: 0;
    width: 2px;
}
.waveform img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%) invert(100%);
}
.info {
    /* display: none; */
}
.name {
    font-size: 1rem;
}
.username {
    background: none;
    border: none;
    color: var(--black);;
    font-size: 0.6rem;
    text-decoration: underline;
}
.tags {
    
}
.tag {
    background: none;
    border: none;
    color: var(--black);;
    text-decoration: underline;
}