@import '../../../variables.css';

.root {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-height: 0.0625rem;
  padding-left: var(--gutter-width);
  padding-right: var(--gutter-width);
  position: relative;
}

.colXS12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.colXS11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}

.colXS10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}

.colXS9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.colXS8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}

.colXS7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}

.colXS6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.colXS5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}

.colXS4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}

.colXS3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.colXS2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}

.colXS1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}

.colXSpull12 {
  right: 100%;
}

.colXSpull11 {
  right: 91.66666667%;
}

.colXSpull10 {
  right: 83.33333333%;
}

.colXSpull9 {
  right: 75%;
}

.colXSpull8 {
  right: 66.66666667%;
}

.colXSpull7 {
  right: 58.33333333%;
}

.colXSpull6 {
  right: 50%;
}

.colXSpull5 {
  right: 41.66666667%;
}

.colXSpull4 {
  right: 33.33333333%;
}

.colXSpull3 {
  right: 25%;
}

.colXSpull2 {
  right: 16.66666667%;
}

.colXSpull1 {
  right: 8.33333333%;
}

.colXSpull0 {
  right: auto;
}

.colXSpush12 {
  left: 100%;
}

.colXSpush11 {
  left: 91.66666667%;
}

.colXSpush10 {
  left: 83.33333333%;
}

.colXSpush9 {
  left: 75%;
}

.colXSpush8 {
  left: 66.66666667%;
}

.colXSpush7 {
  left: 58.33333333%;
}

.colXSpush6 {
  left: 50%;
}

.colXSpush5 {
  left: 41.66666667%;
}

.colXSpush4 {
  left: 33.33333333%;
}

.colXSpush3 {
  left: 25%;
}

.colXSpush2 {
  left: 16.66666667%;
}

.colXSpush1 {
  left: 8.33333333%;
}

.colXSpush0 {
  left: auto;
}

.colXSoffset12 {
  margin-left: 100%;
}

.colXSoffset11 {
  margin-left: 91.66666667%;
}

.colXSoffset10 {
  margin-left: 83.33333333%;
}

.colXSoffset9 {
  margin-left: 75%;
}

.colXSoffset8 {
  margin-left: 66.66666667%;
}

.colXSoffset7 {
  margin-left: 58.33333333%;
}

.colXSoffset6 {
  margin-left: 50%;
}

.colXSoffset5 {
  margin-left: 41.66666667%;
}

.colXSoffset4 {
  margin-left: 33.33333333%;
}

.colXSoffset3 {
  margin-left: 25%;
}

.colXSoffset2 {
  margin-left: 16.66666667%;
}

.colXSoffset1 {
  margin-left: 8.33333333%;
}

.colXSoffset0 {
  margin-left: 0;
}

.colXSverticaltop {
  align-self: flex-start;
}

.colXSverticalmiddle {
  align-self: center;
}

.colXSverticalbottom {
  align-self: flex-end;
}

@media (min-width: 34rem) {
  .colSM12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .colSM11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }

  .colSM10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }

  .colSM9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .colSM8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .colSM7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .colSM6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .colSM5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .colSM4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .colSM3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .colSM2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }

  .colSM1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }

  .colSMpull12 {
    right: 100%;
  }

  .colSMpull11 {
    right: 91.66666667%;
  }

  .colSMpull10 {
    right: 83.33333333%;
  }

  .colSMpull9 {
    right: 75%;
  }

  .colSMpull8 {
    right: 66.66666667%;
  }

  .colSMpull7 {
    right: 58.33333333%;
  }

  .colSMpull6 {
    right: 50%;
  }

  .colSMpull5 {
    right: 41.66666667%;
  }

  .colSMpull4 {
    right: 33.33333333%;
  }

  .colSMpull3 {
    right: 25%;
  }

  .colSMpull2 {
    right: 16.66666667%;
  }

  .colSMpull1 {
    right: 8.33333333%;
  }

  .colSMpull0 {
    right: auto;
  }

  .colSMpush12 {
    left: 100%;
  }

  .colSMpush11 {
    left: 91.66666667%;
  }

  .colSMpush10 {
    left: 83.33333333%;
  }

  .colSMpush9 {
    left: 75%;
  }

  .colSMpush8 {
    left: 66.66666667%;
  }

  .colSMpush7 {
    left: 58.33333333%;
  }

  .colSMpush6 {
    left: 50%;
  }

  .colSMpush5 {
    left: 41.66666667%;
  }

  .colSMpush4 {
    left: 33.33333333%;
  }

  .colSMpush3 {
    left: 25%;
  }

  .colSMpush2 {
    left: 16.66666667%;
  }

  .colSMpush1 {
    left: 8.33333333%;
  }

  .colSMpush0 {
    left: auto;
  }

  .colSMoffset12 {
    margin-left: 100%;
  }

  .colSMoffset11 {
    margin-left: 91.66666667%;
  }

  .colSMoffset10 {
    margin-left: 83.33333333%;
  }

  .colSMoffset9 {
    margin-left: 75%;
  }

  .colSMoffset8 {
    margin-left: 66.66666667%;
  }

  .colSMoffset7 {
    margin-left: 58.33333333%;
  }

  .colSMoffset6 {
    margin-left: 50%;
  }

  .colSMoffset5 {
    margin-left: 41.66666667%;
  }

  .colSMoffset4 {
    margin-left: 33.33333333%;
  }

  .colSMoffset3 {
    margin-left: 25%;
  }

  .colSMoffset2 {
    margin-left: 16.66666667%;
  }

  .colSMoffset1 {
    margin-left: 8.33333333%;
  }

  .colSMoffset0 {
    margin-left: 0;
  }

  .colSMverticaltop {
    align-self: flex-start;
  }

  .colSMverticalmiddle {
    align-self: center;
  }

  .colSMverticalbottom {
    align-self: flex-end;
  }
}

@media (min-width: 48rem) {
  .colMD12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .colMD11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }

  .colMD10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }

  .colMD9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .colMD8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .colMD7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .colMD6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .colMD5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .colMD4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .colMD3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .colMD2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }

  .colMD1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }

  .colMDpull12 {
    right: 100%;
  }

  .colMDpull11 {
    right: 91.66666667%;
  }

  .colMDpull10 {
    right: 83.33333333%;
  }

  .colMDpull9 {
    right: 75%;
  }

  .colMDpull8 {
    right: 66.66666667%;
  }

  .colMDpull7 {
    right: 58.33333333%;
  }

  .colMDpull6 {
    right: 50%;
  }

  .colMDpull5 {
    right: 41.66666667%;
  }

  .colMDpull4 {
    right: 33.33333333%;
  }

  .colMDpull3 {
    right: 25%;
  }

  .colMDpull2 {
    right: 16.66666667%;
  }

  .colMDpull1 {
    right: 8.33333333%;
  }

  .colMDpull0 {
    right: auto;
  }

  .colMDpush12 {
    left: 100%;
  }

  .colMDpush11 {
    left: 91.66666667%;
  }

  .colMDpush10 {
    left: 83.33333333%;
  }

  .colMDpush9 {
    left: 75%;
  }

  .colMDpush8 {
    left: 66.66666667%;
  }

  .colMDpush7 {
    left: 58.33333333%;
  }

  .colMDpush6 {
    left: 50%;
  }

  .colMDpush5 {
    left: 41.66666667%;
  }

  .colMDpush4 {
    left: 33.33333333%;
  }

  .colMDpush3 {
    left: 25%;
  }

  .colMDpush2 {
    left: 16.66666667%;
  }

  .colMDpush1 {
    left: 8.33333333%;
  }

  .colMDpush0 {
    left: auto;
  }

  .colMDoffset12 {
    margin-left: 100%;
  }

  .colMDoffset11 {
    margin-left: 91.66666667%;
  }

  .colMDoffset10 {
    margin-left: 83.33333333%;
  }

  .colMDoffset9 {
    margin-left: 75%;
  }

  .colMDoffset8 {
    margin-left: 66.66666667%;
  }

  .colMDoffset7 {
    margin-left: 58.33333333%;
  }

  .colMDoffset6 {
    margin-left: 50%;
  }

  .colMDoffset5 {
    margin-left: 41.66666667%;
  }

  .colMDoffset4 {
    margin-left: 33.33333333%;
  }

  .colMDoffset3 {
    margin-left: 25%;
  }

  .colMDoffset2 {
    margin-left: 16.66666667%;
  }

  .colMDoffset1 {
    margin-left: 8.33333333%;
  }

  .colMDoffset0 {
    margin-left: 0;
  }

  .colMDverticaltop {
    align-self: flex-start;
  }

  .colMDverticalmiddle {
    align-self: center;
  }

  .colMDverticalbottom {
    align-self: flex-end;
  }
}

@media (min-width: 62rem) {
  .colLG12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .colLG11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }

  .colLG10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }

  .colLG9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .colLG8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .colLG7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .colLG6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .colLG5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .colLG4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .colLG3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .colLG2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }

  .colLG1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }

  .colLGpull12 {
    right: 100%;
  }

  .colLGpull11 {
    right: 91.66666667%;
  }

  .colLGpull10 {
    right: 83.33333333%;
  }

  .colLGpull9 {
    right: 75%;
  }

  .colLGpull8 {
    right: 66.66666667%;
  }

  .colLGpull7 {
    right: 58.33333333%;
  }

  .colLGpull6 {
    right: 50%;
  }

  .colLGpull5 {
    right: 41.66666667%;
  }

  .colLGpull4 {
    right: 33.33333333%;
  }

  .colLGpull3 {
    right: 25%;
  }

  .colLGpull2 {
    right: 16.66666667%;
  }

  .colLGpull1 {
    right: 8.33333333%;
  }

  .colLGpull0 {
    right: auto;
  }

  .colLGpush12 {
    left: 100%;
  }

  .colLGpush11 {
    left: 91.66666667%;
  }

  .colLGpush10 {
    left: 83.33333333%;
  }

  .colLGpush9 {
    left: 75%;
  }

  .colLGpush8 {
    left: 66.66666667%;
  }

  .colLGpush7 {
    left: 58.33333333%;
  }

  .colLGpush6 {
    left: 50%;
  }

  .colLGpush5 {
    left: 41.66666667%;
  }

  .colLGpush4 {
    left: 33.33333333%;
  }

  .colLGpush3 {
    left: 25%;
  }

  .colLGpush2 {
    left: 16.66666667%;
  }

  .colLGpush1 {
    left: 8.33333333%;
  }

  .colLGpush0 {
    left: auto;
  }

  .colLGoffset12 {
    margin-left: 100%;
  }

  .colLGoffset11 {
    margin-left: 91.66666667%;
  }

  .colLGoffset10 {
    margin-left: 83.33333333%;
  }

  .colLGoffset9 {
    margin-left: 75%;
  }

  .colLGoffset8 {
    margin-left: 66.66666667%;
  }

  .colLGoffset7 {
    margin-left: 58.33333333%;
  }

  .colLGoffset6 {
    margin-left: 50%;
  }

  .colLGoffset5 {
    margin-left: 41.66666667%;
  }

  .colLGoffset4 {
    margin-left: 33.33333333%;
  }

  .colLGoffset3 {
    margin-left: 25%;
  }

  .colLGoffset2 {
    margin-left: 16.66666667%;
  }

  .colLGoffset1 {
    margin-left: 8.33333333%;
  }

  .colLGoffset0 {
    margin-left: 0;
  }

  .colLGverticaltop {
    align-self: flex-start;
  }

  .colLGverticalmiddle {
    align-self: center;
  }

  .colLGverticalbottom {
    align-self: flex-end;
  }
}

@media (min-width: 78rem) {
  .colXL12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .colXL11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }

  .colXL10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }

  .colXL9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .colXL8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .colXL7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .colXL6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .colXL5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .colXL4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .colXL3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .colXL2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }

  .colXL1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }

  .colXLpull12 {
    right: 100%;
  }

  .colXLpull11 {
    right: 91.66666667%;
  }

  .colXLpull10 {
    right: 83.33333333%;
  }

  .colXLpull9 {
    right: 75%;
  }

  .colXLpull8 {
    right: 66.66666667%;
  }

  .colXLpull7 {
    right: 58.33333333%;
  }

  .colXLpull6 {
    right: 50%;
  }

  .colXLpull5 {
    right: 41.66666667%;
  }

  .colXLpull4 {
    right: 33.33333333%;
  }

  .colXLpull3 {
    right: 25%;
  }

  .colXLpull2 {
    right: 16.66666667%;
  }

  .colXLpull1 {
    right: 8.33333333%;
  }

  .colXLpull0 {
    right: auto;
  }

  .colXLpush12 {
    left: 100%;
  }

  .colXLpush11 {
    left: 91.66666667%;
  }

  .colXLpush10 {
    left: 83.33333333%;
  }

  .colXLpush9 {
    left: 75%;
  }

  .colXLpush8 {
    left: 66.66666667%;
  }

  .colXLpush7 {
    left: 58.33333333%;
  }

  .colXLpush6 {
    left: 50%;
  }

  .colXLpush5 {
    left: 41.66666667%;
  }

  .colXLpush4 {
    left: 33.33333333%;
  }

  .colXLpush3 {
    left: 25%;
  }

  .colXLpush2 {
    left: 16.66666667%;
  }

  .colXLpush1 {
    left: 8.33333333%;
  }

  .colXLpush0 {
    left: auto;
  }

  .colXLoffset12 {
    margin-left: 100%;
  }

  .colXLoffset11 {
    margin-left: 91.66666667%;
  }

  .colXLoffset10 {
    margin-left: 83.33333333%;
  }

  .colXLoffset9 {
    margin-left: 75%;
  }

  .colXLoffset8 {
    margin-left: 66.66666667%;
  }

  .colXLoffset7 {
    margin-left: 58.33333333%;
  }

  .colXLoffset6 {
    margin-left: 50%;
  }

  .colXLoffset5 {
    margin-left: 41.66666667%;
  }

  .colXLoffset4 {
    margin-left: 33.33333333%;
  }

  .colXLoffset3 {
    margin-left: 25%;
  }

  .colXLoffset2 {
    margin-left: 16.66666667%;
  }

  .colXLoffset1 {
    margin-left: 8.33333333%;
  }

  .colXLoffset0 {
    margin-left: 0;
  }

  .colXLverticaltop {
    align-self: flex-start;
  }

  .colXLverticalmiddle {
    align-self: center;
  }

  .colXLverticalbottom {
    align-self: flex-end;
  }
}

.root.centerBlock {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
